---
http_interactions:
- request:
    method: get
    uri: http://api.jambase.com/venues?api_key=<API_KEY>&id=652
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mashery-Responder:
      - prod-p-worker-us-east-1c-36.mashery.com
    body:
      encoding: UTF-8
      string: '{"Id":652,"Name":"Paramount Theatre","Address":"713 Congress","City":"Austin","State":"Texas","StateCode":"TX","Country":"United
        States of America","CountryCode":"US","ZipCode":"78701","Url":"http://www.austintheatre.org","Latitude":30.269221,"Longitude":-97.742541}'
  recorded_at: Sun, 14 Jul 2013 17:34:10 GMT
- request:
    method: get
    uri: http://api.jambase.com/events?api_key=<API_KEY>&venueId=652
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mashery-Responder:
      - prod-p-worker-us-east-1c-39.mashery.com
    body:
      encoding: UTF-8
      string: '{"Info":{"TotalResults":2,"PageNumber":0,"Message":null},"Events":[{"Id":2056313,"Date":"2013-09-27T00:00:00","Venue":{"Id":652,"Name":"Paramount
        Theatre","Address":"713 Congress","City":"Austin","State":"Texas","StateCode":"TX","Country":"United
        States of America","CountryCode":"US","ZipCode":"78701","Url":"http://www.austintheatre.org","Latitude":30.269221,"Longitude":-97.742541},"Artists":[{"Id":30745,"Name":"Aimee
        Mann "}],"TicketUrl":""},{"Id":2056874,"Date":"2013-11-07T00:00:00","Venue":{"Id":652,"Name":"Paramount
        Theatre","Address":"713 Congress","City":"Austin","State":"Texas","StateCode":"TX","Country":"United
        States of America","CountryCode":"US","ZipCode":"78701","Url":"http://www.austintheatre.org","Latitude":30.269221,"Longitude":-97.742541},"Artists":[{"Id":42655,"Name":"Sarah
        Jarosz"}],"TicketUrl":""}]}'
  recorded_at: Sun, 14 Jul 2013 17:34:10 GMT
recorded_with: VCR 2.5.0
