---
http_interactions:
- request:
    method: get
    uri: http://api.jambase.com/events?api_key=<API_KEY>&id=0
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mashery-Responder:
      - prod-p-worker-us-east-1b-35.mashery.com
    body:
      encoding: UTF-8
      string: '{"Id":0,"Date":"0001-01-01T00:00:00","Venue":null,"Artists":null,"TicketUrl":null}'
  recorded_at: Sun, 14 Jul 2013 00:25:36 GMT
recorded_with: VCR 2.5.0
