---
http_interactions:
- request:
    method: get
    uri: http://api.jambase.com/artists?api_key=<API_KEY>&id=6763
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mashery-Responder:
      - prod-p-worker-us-east-1d-45.mashery.com
    body:
      encoding: UTF-8
      string: '{"Id":6763,"Name":"They Might Be Giants"}'
  recorded_at: Sun, 14 Jul 2013 05:18:58 GMT
- request:
    method: get
    uri: http://api.jambase.com/events?ArtistId=6763&api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mashery-Responder:
      - prod-p-worker-us-east-1d-40.mashery.com
    body:
      encoding: UTF-8
      string: '{"Info":{"TotalResults":4,"PageNumber":0,"Message":null},"Events":[{"Id":2028421,"Date":"2013-08-08T19:30:00","Venue":{"Id":5033,"Name":"The
        Stone Pony","Address":"913 Ocean Avenue","City":"Asbury Park","State":"New
        Jersey","StateCode":"NJ","Country":"United States of America","CountryCode":"US","ZipCode":"07712","Url":"http://www.stoneponyonline.com","Latitude":40.224593,"Longitude":-73.998579},"Artists":[{"Id":6763,"Name":"They
        Might Be Giants"}],"TicketUrl":"http://www.ticketmaster.com/They-Might-Be-Giants-tickets/artist/736288"},{"Id":2025844,"Date":"2013-08-09T18:00:00","Venue":{"Id":3975,"Name":"Chameleon
        Club","Address":"223 N. Water St.","City":"Lancaster","State":"Pennsylvania","StateCode":"PA","Country":"United
        States of America","CountryCode":"US","ZipCode":"17603","Url":"http://www.chameleonclub.net","Latitude":40.041348,"Longitude":-76.309024},"Artists":[{"Id":6763,"Name":"They
        Might Be Giants"}],"TicketUrl":"http:[...]
